  <div id="header">
	  
    <div id="logo"><%= link_to "Epic A Cappella", root_path %></div>
    
    <div id="navigation" align="right">
    <%=  link_to "Arranging", arranging_path %>
    <%=  link_to "Studio", studio_path %>
    <%=  link_to "Directing", directing_path %>
    <%=  link_to "Blog", blog_path %>
    <%=  link_to "Premiere", premiere_path %>
    <%=  link_to "Contact", contact_path %>
    </div>
  </div>
